// DEFINICIÓN DE PALETA DE COLORES - BASE APLICACIÓN

$primary-light-palette: (
        50 : #e6ebe3,
        100 : #bfceb9,
        200 : #95ae8b,
        300 : #6b8d5c,
        400 : #4b7439,
        500 : #2b5c16,
        600 : #265413,
        700 : #204a10,
        800 : #1a410c,
        900 : #103006,
        A100 : #85ff6a,
        A200 : #5bff37,
        A400 : #32ff04,
        A700 : #2be900,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$accent-light-palette: (
        50 : #e0e1f9,
        100 : #b3b4f0,
        200 : #8083e6,
        300 : #4d51db,
        400 : #262bd4,
        500 : #0006cc,
        600 : #0005c7,
        700 : #0004c0,
        800 : #0003b9,
        900 : #0002ad,
        A100 : #d7d7ff,
        A200 : #a4a4ff,
        A400 : #7171ff,
        A700 : #5858ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #ffffff,
        )
);

/* For use in src/lib/core/theming/_palette.scss */
$primary-dark-palette: (
        50 : #f3f3f3,
        100 : #e1e1e1,
        200 : #cdcdcd,
        300 : #b9b8b8,
        400 : #aaa9a9,
        500 : #9b9a9a,
        600 : #939292,
        700 : #898888,
        800 : #7f7e7e,
        900 : #6d6c6c,
        A100 : #fdeded,
        A200 : #f8bfbf,
        A400 : #ff8585,
        A700 : #ff6c6c,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$accent-dark-palette: (
        50 : #e3e2e2,
        100 : #b8b7b7,
        200 : #898888,
        300 : #5a5858,
        400 : #363434,
        500 : #131010,
        600 : #110e0e,
        700 : #0e0c0c,
        800 : #0b0909,
        900 : #060505,
        A100 : #ff4e4e,
        A200 : #ff1b1b,
        A400 : #e70000,
        A700 : #ce0000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);





