<h4 class="title">Mi Carrito</h4>

<app-cart-item></app-cart-item>
<app-cart-item></app-cart-item>

<p class="total"><span class="total-label">Total:</span> $ 50.000</p>

<button mat-raised-button color="primary">
  <div class="btn-send">
    <span>Finalizar pedido</span>
    <i class="fa-solid fa-share-from-square"></i>
  </div>
</button>

<button  ly-button raised bg="primary">
  <div class="btn-send">
    <span>Finalizar pedido</span>
    <i class="fa-solid fa-share-from-square"></i>
  </div>
</button>
