:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.4em;
  font-weight: bold;
  margin-bottom: 3em;
}

.container-item {
  display: inline-grid;
  row-gap: 1.6em;
  width: 100%;
  max-width: 45em;
}

.total {
  font-size: 1.3em;
  font-weight: bold;
  align-self: flex-end;
  margin-top: 4em;

  &-label {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-gray-75);
  }
}

.btn {
  min-width: 20em;
}

.btn-send {
  display: inline-flex;
  gap: 1em;
  align-items: center;
}

.caja {
  margin-top: 24px;
  background-color: blueviolet;
  color: white;
  width: 400px;
  height: 100px;

  &__cont {
    height: 60px;
    width: 100%;
    background-color: blue;

    padding: 0 10px;
    box-sizing: border-box;
  }
}
