:root {
  /* GRISES */
  --color-gray-1: rgba(226, 226, 226, 1);
  --color-gray-25: rgba(198, 198, 198, 1);
  --color-gray-50: rgba(163, 162, 162, 1);
  --color-gray-75: rgba(107, 107, 107, 1);
  --color-gray-100: rgba(62, 62, 62, 1);
}
