/* You can add global styles to this file, and also import other style files */

@import "app/core/sass/normalize";
@import "app/core/sass/style-color";

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 10px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
